<div class="d-flex flex-column">
  <div class="d-flex justify-content-around">
    <h1>Calendar</h1>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Sun</th>
        <th scope="col">Mon</th>
        <th scope="col">Tue</th>
        <th scope="col">Wed</th>
        <th scope="col">Thu</th>
        <th scope="col">Fri</th>
        <th scope="col">Sat</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of calendarWeeks" class="week-row">
        <td *ngFor="let d of row" class="day-cell">
          <div *ngIf="d" class="d-flex flex-column">
            <span class="text-left">{{d.day}}</span>
            <span class="text-right">{{d.day | currency}}</span>
            <span class="text-right">{{d.day | currency}}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
