@import "../../../variables.scss";

.day-cell {
  min-width: 5em;
  vertical-align: bottom;
}

.calendar-item {
  font-weight: 550;
}

.balance {
  font-weight: 550;
}

.badge-dark {
  background: $border;
}

.table tbody tr, .table tbody td {
  height: 6em;
}

.table-bordered tbody tr {
  border: 1px solid $border;
}

.table-bordered tbody tr td {
  border: 1px solid $border;
}

.table-bordered thead tr {
  border: 1px solid $border;
  background: $background-emphasis;
}

.table-bordered thead tr th {
  border: 1px solid $border;
}

.table-bordered {
  border: 1px solid $border;
}

