<div class="d-flex flex-column">
  <div class="d-flex justify-content-around">
    <h1>Calendar</h1>
  </div>
  <div class="d-flex flex-column flex-fill">
    <div class="d-flex flex-fill">
      <div class="p-2 flex-fill">Sun</div>
      <div class="p-2 flex-fill">Mon</div>
      <div class="p-2 flex-fill">Tue</div>
      <div class="p-2 flex-fill">Wed</div>
      <div class="p-2 flex-fill">Thu</div>
      <div class="p-2 flex-fill">Fri</div>
      <div class="p-2 flex-fill">Sat</div>
    </div>
    <div class="d-flex flex-fill">
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
    </div>
    <div class="d-flex flex-fill">
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
    </div>
    <div class="d-flex flex-fill">
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
    </div>
    <div class="d-flex flex-fill">
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
    </div>
    <div class="d-flex flex-fill">
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
      <div class="p-2 flex-fill border border-dark align-content-stretch day-cell"></div>
    </div>
  </div>
</div>
