@import "../../../variables.scss";

* {
  box-sizing: border-box;
}

#calendar {
  padding: .5rem;
}

.day-cell {
  vertical-align: bottom;
  padding: 0;
  padding-left: .25rem;
  padding-right: .25rem;
}

.badge-dark {
  background: $border;
}

.badge-pill {
  padding-right: .3em;
  padding-left: .3em;
  border-radius: 5rem;
}

.table tbody td {
  height: 6rem;
  max-width: 6rem;
  background-color: $background;
}

.table-bordered tbody tr {
  border: 1px solid $border;
}

.table-bordered tbody tr td {
  border: 1px solid $border;
}

.table-bordered thead tr {
  border: 1px solid $border;
  background: $background-emphasis;
}

.table-bordered thead tr th {
  padding: 0;
  border: 1px solid $border;
}

.table-bordered {
  border: 1px solid $border;
}

@media print {
  .table tbody td {
    height: 6rem;
    max-width: 10rem;
    padding: 0rem;
  }
}
