<div id="calendar">
  <div class="row mb-3 justify-content-between">
    <div>
      <button *ngIf="!calendar.currentMonth" type="button"
              class="btn btn-default btn-lg font-weight-bold d-print-none"
              data-toggle="tooltip"
              title="Previous month"
              (click)="switchMonthView('previous')">
              <svg class="bi bi-caret-left-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 00-1.659-.753l-5.48 4.796a1 1 0 000 1.506z"/>
              </svg>
      </button>
    </div>
    <div>
      <button *ngIf="calendar.currentMonth" type="button"
              class="btn btn-default btn-lg font-weight-bold d-print-none"
              data-toggle="tooltip"
              title="Previous month"
              (click)="switchMonthView('next')">
              <svg class="bi bi-caret-right-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
              </svg>
      </button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="table-responsive d-print-table">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Sun</th>
            <th scope="col">Mon</th>
            <th scope="col">Tue</th>
            <th scope="col">Wed</th>
            <th scope="col">Thu</th>
            <th scope="col">Fri</th>
            <th scope="col">Sat</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of calendar.currentMonthInWeeks">
            <td *ngFor="let d of row" class="day-cell text-truncate">
              <div *ngIf="d" class="d-flex h-100">
                <div class="align-self-start text-left w-25">
                  <span class="badge badge-pill badge-dark">{{d.day}}</span>
                </div>
                <div class="d-flex flex-column flex-fill h-100">
                  <ul *ngIf="d.dailyIncome.length > 0" class="list-unstyled m-0 text-right">
                    <li *ngFor="let item of d.dailyIncome" class="calendar-item text-right text-truncate">
                      <small class="font-weight-bold" data-toggle="tooltip" data-placement="top" title="{{item.source}}: {{item.amount | currency}}">{{item.source}}: {{item.amount | currency}}</small>
                    </li>
                    <hr *ngIf="d.dailyExpenses.length > 0">
                  </ul>
                  <ul *ngIf="d.dailyExpenses.length > 0" class="list-unstyled m-0 text-right">
                    <li *ngFor="let item of d.dailyExpenses" class="calendar-item text-right text-truncate">
                      <small class="font-weight-bold" data-toggle="tooltip" data-placement="top" title="{{item.source}}: -{{item.amount | currency}}">{{item.source}}: -{{item.amount | currency}}</small>
                    </li>
                  </ul>
                  <div class="mt-auto ml-auto">
                    <hr *ngIf="d.dailyIncome.length > 0 || d.dailyExpenses.length > 0">
                    <small class="font-weight-bold" data-toggle="tooltip" data-placement="top" title="Balance: {{d.dailyTotal | currency}}" class="badge badge-pill badge-success calendar-item text-right">{{d.dailyTotal | currency}}</small>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
