<div id="page-header" class="position-relative overflow-hidden p-5 m-3 text-center">
  <div class="d-flex flex-column flex-lg-row justify-content-start">
    <img src="../../assets/Bahr.png" class="img-fluid mx-auto d-block"/>
    <h1 class="align-self-center p-5">About me and my awesome mission.</h1>
  </div>
</div>

<div class="row m-1">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Who I am! And who I'm not!
      </div>
      <div class="card-body">
        <p>I am a web app developer that focuses mainly on Angular.</p>
        <p>I am not a financial advisor. And this site is not meant to give any financial advise. It is only here to help you see how much you will have on any given day if you follow your budget.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        About our awesome mission!
      </div>
      <div class="card-body">
        <p>My mission is two-fold. I want to continue to practice and develop my skills primarily, and I realize that only working at my job will limit the skills that I can practice. So this site is one of my ways to improve myself. Thus the name, Bahr Progress.</p>
        <p>The other reason, is because I want to do something that will help as many people as I can. That is why I've started with this simple budget app. I want you to be able to use it without stress or worry, and if it can make your life better, then I'm super happy to be a part of that!</p>
        <p><em>And hopefully, we can progress together!</em></p>
      </div>
    </div>
  </div>
</div>
