<div id="page-header" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
  <h1 class="text-center">About us and our awesome mission.</h1>
</div>

<div class="row m-1">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        About us!
      </div>
      <div class="card-body">
        We rock!
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        About our awesome mission!
      </div>
      <div class="card-body">
        It rocks!
      </div>
    </div>
  </div>
</div>
