<div class="container-flex text-center">
  <div id="page-header" class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <div class="well">
        <h1>Money left over<br><span class="badge badge-danger">Not enough</span></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h3><span class="badge badge-success">Income</span></h3>
      <table class="table table-sm table-hover table-bordered m-2">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Source</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let income of incomeList">
            <th scope="row">{{income.date | date}}</th>
            <td>{{income.source}}</td>
            <td>{{income.amount | currency}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <h3><span class="badge badge-warning">Expenses</span></h3>
      <table class="table table-sm table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Category</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expense of expenseList">
            <th scope="row">{{expense.date | date}}</th>
            <td>{{expense.category}}</td>
            <td>{{expense.amount | currency}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 bg-primary">place a calendar here</div>
  </div>
</div>
