<div class="container-flex text-center">
  <div id="page-header" class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <div>
        <h1>Money left over<br><span class="badge badge-danger">Not enough</span></h1>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="d-flex flex-column w-50">
      <app-budget-item-list [(items)]="incomeList" [listTitle]="'Income'"></app-budget-item-list>
      <br>
      <app-budget-item-list [(items)]="expenseList" [listTitle]="'Expenses'"></app-budget-item-list>
    </div>
    <div class="bg-warning w-50">place a calendar here</div>
  </div>
</div>
