@import "../../variables.scss";

#budget {
  background-color: $background;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

@media print {
  .d-print-none {
    display: none !important;
  }

  .d-print-table {
    display: table !important;
  }

  .col-print-12 {
    width: 100%;
    padding: 0em;
    margin: auto;
  }
}
