<div class="bordered">
  <div class="d-flex flex-row align-items-center">
    <div class=" ml-5 mr-auto">
      <mat-form-field class="m-2">
        <mat-label>Starting balance</mat-label>
        <input matInput type="number" (ngModelChange)="updateStartingBalance()" [(ngModel)]="startingBalance"/>
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>
    <div class="chart-wrapper mt-3">
      <canvas baseChart class="chart"
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
    <div class="mr-5 ml-auto">
      <h3>Balance
      </h3>
      <h1>
        <span [ngClass]="badgeClass">
          {{remainder | currency}}
        </span>
      </h1>
    </div>
  </div>
</div>

