<div class="bordered">
  <h1 class="d-block d-md-none text-center my-1">{{currentMonthDisplay}}</h1>
  <div class="d-flex flex-column flex-md-row align-items-center">
    <div class="ml-md-5 mr-md-auto">
      <h3>Starting balance</h3>
      <div *ngIf="currentMonth" class="input-group input-group-sm col-10">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input type="number"
               class="form-control"
               id="startingBalance"
               aria-label="Amount"
               (keyup)="updateStartingBalance()"
               [(ngModel)]="startingBalance">
      </div>
      <h5 *ngIf="!currentMonth" class="text-left">{{startingBalance | currency}}</h5>
    </div>
    <div class="chart-wrapper mt-3">
      <h2 class="d-none d-md-block text-center">{{currentMonthDisplay}}</h2>
      <canvas baseChart class="chart"
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
    <div class="mr-md-5 ml-md-auto">
      <h3 class="text-right">Balance</h3>
      <h1>
        <span [ngClass]="badgeClass">
          {{remainder | currency}}
        </span>
      </h1>
    </div>
  </div>
</div>

