<div class="card w-75">
  <div class="card-body">
    <div class="d-flex ml-3">
      <div class="w-25 mt-2">{{item.date | date}}</div>
      <div class="w-25 mt-2">{{item.source}}</div>
      <div class="w-25 mt-2 text-right">{{item.amount | currency}}</div>

      <div class="d-flex flex-row-reverse w-25">
        <button type="button" class="btn btn-default btn-lg text-danger font-weight-bold" (click)="remove()">
          <svg class="bi bi-dash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.5 8a.5.5 0 01.5-.5h8a.5.5 0 010 1H4a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
          </svg>
        </button>
      </div>

    </div>
  </div>
</div>
