<div id="page-header" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
  <img src="../../assets/Bahr.png" class="img-fluid mx-auto d-block"/>
  <h1>Welcome to our <u>Budgeting Calendar</u>!</h1>
</div>
<div class="card-deck ml-3 mr-3">
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <h3>Budgeting at a glance!</h3>
      </div>
    </div>
    <div class="card-body">
      <p>We believe it is easier to understand your finances if you can see them.</p>
      <p>So this little we app allows you to add icome and expense items to a list, then we add them to the calendar. And all the time, we help you keep track of the balance on a daily basis and for the end.</p>
      <p>After everything is entered in, just <em>click print (ctrl-p)</em> and you have a copy of your budget for the month!</p>
      <p>You can do this for the current month and the next month.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <h3>It's free! And completely confidential!</h3>
      </div>
    </div>
    <div class="card-body">
      <p>No joking.</p>
      <p>We don't collect any of your personal information. We don't use any cookies. This is completely anomymous.</p>
      <p>On the downside, though, if you leave the page, you do need to add in your budget items all over again.</p>
      <p>We don't save anything!</p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <h3>Please enjoy!</h3>
      </div>
    </div>
    <div class="card-body">
      <p>And if you do like it, share the site on your favorite social media.</p>
      <p>And come back for more!</p>
    </div>
  </div>
</div>


