<div id="page-header" class="position-relative overflow-hidden p-5 m-3 text-center">
  <div class="d-flex flex-column flex-lg-row justify-content-start">
    <img src="../../assets/Bahr.png" class="img-fluid mx-auto d-block"/>
    <h1 class="align-self-center p-5">Welcome to my <u>Budgeting Calendar</u>!</h1>
  </div>
</div>

<div class="card-deck ml-3 mr-3">
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <h3>Budgeting at a glance!</h3>
      </div>
    </div>
    <div class="card-body">
      <p>I believe it is easier to understand your finances if you can see them.</p>
      <p>So this little app allows you to add icome and expense items to a list, then it adds them to the calendar. And all the time, it helps you keep track of the balance on a daily basis and for the end.</p>
      <p>After everything is entered in, just <em>click print (ctrl-p)</em> and you have a copy of your budget for the month!</p>
      <p>You can do this for the current month and the next month.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <h3>It's free! And completely confidential!</h3>
      </div>
    </div>
    <div class="card-body">
      <p>No joking.</p>
      <p>The site does not collect any of your personal information. It doesn't use any cookies. This is completely anomymous.</p>
      <p>On the downside, though, if you leave the page, you do need to add in your budget items all over again when you come back.</p>
      <p>It doesn't save anything!</p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <h3>Please enjoy!</h3>
      </div>
    </div>
    <div class="card-body">
      <p>And if you do like it, share the site on your favorite social media.</p>
      <p>And come back for more!</p>
    </div>
  </div>
</div>


