<div id="page-header" class="position-relative overflow-hidden p-5 text-center">
  <img src="../../assets/Bahr.png" alt="Bahr Progress Logo" class="img-fluid mx-auto d-block"/>
  <h1 class="text-center mt-1"><em>The FREE Budgeting Calendar!</em></h1>
</div>

<div class="container">
  <div class="card-deck m-3">
    <div class="card">
      <div class="card-header">
        <div class="card-title text-center">
          <h3>Budgeting at a glance!</h3>
        </div>
      </div>
      <div class="card-body">
        <p>It is easier to understand your finances when see them.</p>
        <p>This calendar allows you to add icome and expenses to a list, then it adds them to the calendar. And all the time, it helps you keep track of the balance on a daily basis and for the end.</p>
        <p>You can do this for the current month and the next month.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="card-title text-center">
          <h3>Free And Confidential!</h3>
        </div>
      </div>
      <div class="card-body">
        <p>No joking.</p>
        <p>The site does not collect any of your personal information. It doesn't use any cookies. This is completely anomymous.</p>
        <p>The site does use your local storage to save your budget. Which means, as long as you use the same browser, you can come back time and again to edit your month and see how unexpected expenses will effect your month, but you don't need to re-enter your information.</p>
      </div>
    </div>
  </div>
</div>


