/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";

* {
  box-sizing: border-box;
}

#page-header {
  background-color: $background-emphasis;
}

.card-header {
  background-color: $background-emphasis;
}

body {
  background-color: $background;
  background-image: url(./assets/composition-of-calculator-with-paper-money-and-notebook-with-4386341.jpg);
  background-size: cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
