/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body { 
  margin: 0; 
  font-family: Roboto, sans-serif; 
  background-color: $background;
  background-image: url(./assets/composition-of-calculator-with-paper-money-and-notebook-with-4386341.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#page-header {
  background-color: rgba($color: $background-emphasis, $alpha: 0.8);
}

.card-header {
  background-color: rgba($color: $background-emphasis, $alpha: 1);
}
